*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gelasio', serif;
}
html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}
header{
  width: 100%;
  height: 100vh;
  background: url('img/demo.png'), url('img/demo.jpg');
  background-size: 50% 100%, cover;
  background-position: right, center;
  background-repeat: no-repeat, no-repeat;
  clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
  background-attachment: fixed;
}

nav .navbar-brand{
  color:white;
  font-weight: bold;
  font-size: 2.5rem;
  width: 30%;
  letter-spacing: 5px;
  padding-left: 100px; 
}
nav .navbar-brand:hover{
  color: white;
}
.navbar-brand span{
  color:yellow ;
}
nav ul li a{
  color:white;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: bold; 
}
nav ul li{
  padding-left:20%;
}

nav ul li a:hover{
  background:#e74c3c;
  transition: 0.4;
  color:white;
}
.toggle{
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
}
.text{
  color:white;
  font-weight: bold;
  margin-top: 100px;
  margin-left: 100px;
  max-width: 450px;
}
.text h1{
  font-size: 3rem;
  margin: 10px 0px;
}
.text p{
  font-size: 1.5rem;
}
.c-btn{
  border:2px solid pink;
  outline: none;
  color: white;
  background:#e74c3c ;
  padding: 5px;
  font-size: 1.3rem;
  margin-top: 20px;
  border-radius: 5px;
}
.c-btn a{
  color: white;
}
.c-btn a:hover{
  text-decoration: none;
  color: white;
}
#about{
  padding: 100px 50px;
}
.section-info{
  font-weight:bold ;
  text-align: center;
}
.section-info h1{
  font-size: 3rem;
}
.section-info p{
  font-size: 1.5rem;
  color: #e74c3c;
}

.about-row{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.about-left-col{
  flex-basis: 50%;
}
.about-left-col img{
  width: 50%;
  margin-left: 20%;
  border-radius: 50%;
}
.about-right-col{
  flex-basis: 50%;
}
#p-title{
  font-size: 1.3rem;
  font-weight: bold;
}
.about-right-col p{
  font-size: 1.3rem;
}
#skills{
  padding: 100px 50px;
  background: url("img/bg2.jpg");
  background-size: cover;
  color: white;
}
.skills-row{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: rgb(45, 52, 54);
  padding: 50px;
}

.skills-left-col{
  flex-basis: 40%;
}
.skills-left-col ul li{
  list-style: none;
  line-height: 4rem;
}
.skills-left-col ul li a{
  font-size:1.7rem;
  text-decoration: none;
  color: white;
}
.skills-right-col{
  flex-basis: 60%;
}
progress{
  width: 80%;
}
.progress-div{
  width: 70%;
  margin: auto;
}
.progress-div p{
  margin-bottom: 10px;
  font-size: 1.3rem;
  padding-left: 80px;
}

#contact{
  padding: 100px 50px;
  background: linear-gradient(160deg,#e74c3c 45%, white 0%);
}
.contact-row{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.contact-left-col{
 flex-basis: 50%; 
}
.contact-left-col img{
  width: 110%;
 }
 
.contact-right-col{
  flex-basis: 50%; 
 }
.contact-right-col form{
  text-align: center;
}
.contact-right-col form h2{
  margin-bottom: 20px;
}
.contact-right-col form input{
  width: 60%;
  padding: 10px;
  border-radius: 20px;
  margin: 10px auto;
  outline: none;
}
.contact-right-col form textarea{
  width: 60%;
  padding: 10px;
  border-radius: 20px;
  margin: 10px auto;
  border:2px solid black;
  outline: none;
}
#status{
  width: 50%;
  text-align: center;
  padding: 7px;
  margin: 20px auto;
  border-radius: 8px;
}
#status.success{
  background-color: rgb(211, 250, 153);
  animation: status 4s ease forwards;
}
#status.error{
  background-color: rgb(250, 129, 92);
  color: white;
  animation: status 4s ease forwards;
}
@keyframes status{
  0%{
    opacity: 1;
    pointer-events: all;
  }
  90%{
    opacity: 1;
    pointer-events: all;
  }
  100%{
    opacity: 0;
    pointer-events: none;
  }
}

#footer{
  background: #e74c3c;
  color: white;
  padding: 0 30%;
  font-size: 1.5rem;
}

.footer-row{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 50px; 
}
.footer-left-col{
  flex-basis: 50%; 
 }
 .footer-right-col{
  flex-basis: 50%; 
 }
 .footer-right-col a{
  flex-basis: 50%; 
  color: white;
  font-size: 3rem;
  padding:0 15px;
 }
 .footer-right-col a:hover{
  text-decoration: none;
  color: white;
 }

 @media screen and (max-width:1295px){
  #footer{
    padding: 0 10%;
  }
   .footer-left-col{
  flex-basis: 50%; 
 }
 .footer-right-col{
  flex-basis: 50%; 
 } 
}

 @media screen and (min-width: 970px) and (max-width: 1295px){
  nav .navbar-brand {
    font-size: 40px;
    padding-left: 35px;
   }
   .skills-left-col{
    flex-basis: 50%;
 }
.skills-right-col{
  flex-basis: 50%;
}
.progress-div{
  width: 110%;
}
.contact-left-col img{
  margin-top: -10%;
  width: 120%;
}
.contact-right-col form{
  margin-top: 10%;
}
  }
 


 @media screen and (min-width: 769px) and (max-width: 969px){
 nav .navbar-brand {
  font-size: 30px;
  padding-left: 35px;
 }
 nav ul li a{
  font-size: 20px;
}
  .text{
    margin-left: 50px;
  }
  .about-left-col img{
    width: 70%;
  }
  .about-right-col p{
    font-size: 18px;
  } 
  .skills-left-col{
    flex-basis: 50%;
 }
 .skills-left-col ul li a{
  font-size: 24px;
 }
.skills-right-col{
  flex-basis: 50%;
}
.progress-div{
  width: 110%;
}
.contact-left-col img{
  width: 150%;
 }  
 .contact-right-col{
  margin-top: 50px;
} 
} 
 @media screen and (max-width: 768px){
   header{
     background: url('img/demo.jpg');
     background-size: cover;
   }
   nav .navbar-brand{
     padding-left: 5%;
   }
   .text{
     margin-left: 50px;
   }
   .about-left-col{
    flex-basis: 100%;
  }
  .about-left-col img{
    width: 50%;
    padding:50px 0;
  }
  .about-right-col{
    flex-basis: 100%;
  }

  .skills-left-col{
    flex-basis: 100%;
 }
 .skills-right-col{
  flex-basis: 100%;
  padding: 50px 0;
}
.progress-div{
  width: 100%;
}

.progress-div p{
  padding-left: 40px;
}

#contact .section-info{
  margin-top:10%;
}
.contact-left-col{
  flex-basis: 100%; 
 }  
 .contact-right-col{
   flex-basis: 100%; 
  }
  .contact-left-col img{
    margin-top: 10%;
  }
  .footer-left-col{
    flex-basis: 100%; 
   }
   .footer-right-col{
    flex-basis: 100%; 
   }
   
 .footer-right-col a{
  padding-left:5px;
 }
 #collapsibleNavbar{
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  padding: 100px 0;
}
#collapsibleNavbar a{
  text-decoration: none;
   margin: 10px 30px;
  color: white;
  padding: 20px;
  display: block;
  font-size: 1.3rem;
}
#collapsibleNavbar a:hover{
  background: #e74c3c;
  transition: 0.4s;
} 

 }
 @media screen and (max-width: 530px){
   nav .navbar-brand{
     padding-left: 0;
     font-size: 30px;
   }
   .text{
     margin-left: 5%;
   }
   .about-right-col p{
    font-size: 17px;
  }
  #about{
    padding:10px;
  }
  #skills{
    padding:10px;
  }
  .skills-left-col ul li a{
    font-size: 20px;
   }
.progress-div p{
  padding-left: 10px;
}
.section-info{
  margin-top: 10%;
}

.contact-left-col img{
  margin-top:30%;
}
.footer-right-col a{
font-size: 25px;
}
 }
 @media screen and (max-width: 365px){
  nav .navbar-brand{
    padding-left: 15%;
    font-size: 17px;
  }
  .text{
    text-align: center;
  }
  .about-right-col p{
    font-size: 14px;
  }
  .skills-left-col ul li a{
   font-size: 14px;
  }
  #contact .section-info{
    margin-top: 30%;
  }
  .contact-left-col img{
    width: 150%;
    margin-left: -20%;
  }
  
}
